@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<h2 style="margin-left:430px">Driver Id:  01</h2>

<h2 style="margin-left:430px">Driver Name:   Arsalan</h2>

<h2 style="margin-left:430px">Bus Id: 01</h2>
<br /><br />



<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>

    <title>Drivers Schedule</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/style2.css">
</head>
<body>
    <div style="font-size:24px; font-family:calibiri; font-weight:bold; color:white; background-color:#454343; height:55px; width:100%; padding:20px; text-align:center ">
        Drivers Schedule
    </div>
    <div id="page-wrap">
        <table>
            <tr><th colspan=6 style="background-color:skyblue; color:red; text-align:center; font-size:30px;"> Bus Id: 01 </th>
            <tr>
            <tr>
                <th>Round No</th>
                <th>Start Point</th>
                <th>End Point</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Details</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Old Campus</td>
                <td>New Campus</td>
                <td>8:15 am</td>
                <td>9:15 am</td>
                <td><input type="button" value="Get Details"></td>
            </tr>

            <tr>
                <td>2</td>
                <td>New Campus</td>
                <td>Old Campus</td>
                <td>9:30</td>
                <td>10:30</td>
                <td><input type="button" value="Get Details"></td>
            </tr>
            <tr>
                <td>3</td>
                <td>New Campus</td>
                <td>Old Campus</td>
                <td>9:30</td>
                <td>10:30</td>
                <td><input type="button" value="Get Details"></td>
            </tr>
            <tr>
                <td>4</td>
                <td>New Campus</td>
                <td>Old Campus</td>
                <td>9:30</td>
                <td>10:30</td>
                <td><input type="button" value="Get Details"></td>
            </tr>
            <tr>
                <td>5</td>
                <td>New Campus</td>
                <td>Old Campus</td>
                <td>9:30</td>
                <td>10:30</td>
                <td><input type="button" value="Get Details"></td>
            </tr>
            <tr>
                <td>6</td>
                <td>New Campus</td>
                <td>Old Campus</td>
                <td>9:30</td>
                <td>10:30</td>
                <td><input type="button" value="Get Details"></td>
            </tr>
        </table>

    </div>

</body>
</html>